path {
    cursor: pointer;
}
#sliderP {
    position:absolute;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 100px;
    padding: 0 5px;
    position: absolute;

}
.d3-tip {
    line-height: 1;
    padding: 10px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
  }
p {
    font-weight: lighter;
}
.MuiTypography-p {
    font-weight: lighter;
}
body {
    background-color: #F6F6F6;
}